@model IEnumerable<Comment>;
@{
    ViewData["Title"] = "Comments";
    var gameId = ViewBag.gameId;
}

<script>
  function DeleteComment(commentJson) {

    let comment = JSON.parse(commentJson);

    fetch("/Comment", {
      method: 'DELETE',
      body: commentJson,
      headers: {
        'Content-type': 'application/json; charset=UTF-8'
      }
    }).then((response) => {
            if (!response.ok)
                throw new Error(response.statusText);

            let card = document.getElementById(`comment ${comment.Id}`);
            if (card.parentNode) {
              card.parentNode.removeChild(card);
            }

        }).catch((err) => {
          console.log(err.message);
        });
    

  }


  function PutComment(formId) {

    let form = document.getElementById(formId);
    
    let data = new FormData(form);
    let comment = {};
    for (var [key, value] of data) {
      comment[`${key}`] = value;
    }

    let commentJson = JSON.stringify(comment);

      fetch("/Comment", {
      method: 'PUT',
      body: commentJson,
      headers: {
        'Content-type': 'application/json; charset=UTF-8'
      }
    }).then((response) => {
            if (!response.ok)
                throw new Error(response.statusText);
            let card = document.getElementById(`comment ${comment.Id}`);
            let title = card.querySelector('.card-title');
            let text = card.querySelector('.card-text');

            title.innerHTML = `${comment.Title}`;
            text.innerHTML = `${comment.Text}`;

        }).catch((err) => {
          console.log(err.message);
        });
  }
@* 
  let button = document.getElementById("change-button");
  console.log(button);
  button.addEventListener("submit", (e) => {
    e.preventDefault();

    let gameId = document.getElementById("game-id").nodeValue;
    let commentId = document.getElementById("comment-id").nodeValue;
    let title = document.getElementById("title").nodeValue;
    let text = document.getElementById("text").nodeValue;

    let comment = {
      Id: commentId,
      GameId: gameId,
      Title: title,
      Text: text
    };

    PutComment(comment);
  }) *@

</script>

<div class="comments-container">
   <div class="comments d-flex flex-wrap justify-content-between">
        @if(Model is null ){
            <div class="alert alert-danger" role="alert">
                Sorry! There is no comments for this game(
            </div>
        }
        else {
            <div class="comments d-flex flex-wrap justify-content-between mb-3">
                @foreach(var comment in Model) {
                <div class="card" id="comment @comment.Id" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">@comment.Title</h5>
                    <li class="card-text list-group-item mb-2">@comment.Text</li>
                    @* <a href="/Comment/Delete/@(comment.Id)" class="btn btn-primary">delete comment</a> *@

                    <button type="button" onclick="DeleteComment(`@JsonSerializer.Serialize(comment)`)" class="btn btn-danger">Delete comment</button>
                    <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                       Change Comment
                     </button>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                       <li>

                        <form onsubmit="return false;" id="form-@comment.Id">
                          <legend>Change the comment</legend>
                            <div class="mb-3">
                              <label for="disabledTextInput" class="form-label">GameId</label>
                              <input id="game-id" name="GameId" type="text" value="@(gameId is null ? "error" : (int)gameId)">
                            </div>

                            <div class="mb-3">
                              <label for="disabledTextInput" class="form-label">comment.Id</label>
                              <input id="comment-id" name="Id" type="text" value="@(comment.Id is null ? "error" : (int)comment.Id)">
                            </div>

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Title</label>
                          <input id="title" name="Title" type="text" class="form-control">
                        </div>

                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Text</label>
                          <input id="text" name="Text" type="text" class="form-control">
                        </div>

                        <button onclick="PutComment(`form-@comment.Id`)" type="submit" class="btn btn-primary">Change comment</button>
                      </form>

                        </li>
                     </ul>
                    </div>
                  </div>
                </div>
                 }
            </div>
                
            
            
           

            <form action="/Comment" method="post">
                <legend>Write a new comment!!</legend>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">GameId</label>
                    <input name="GameId" type="text" value="@(gameId is null ? "error" : (int)gameId)">
                  </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input name="Title" type="text" class="form-control">
              </div>

              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Text</label>
                <input name="Text" type="text" class="form-control">
              </div>

              <button type="submit" class="btn btn-primary">Submit comment</button>
            </form>

        }
   </div>
</div>